@import "./variables.less";

.autocomplete-suggestions {
  //border: 1px solid #999;
  padding: 16px;
  min-width: 340px;
  width: 720px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 4px;
  // display: block!important; // for dev
  .keyword-title {
    color: rgba(0, 0, 0, 0.25);
    margin: .5em 0;
  }
  .keyword-links {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: rgba(0, 0, 0, 0.65);
    }
    li {
      margin: .25em 0;
    }
  }
}
hr {
  margin: .5em 0;
}
.autocomplete-suggestion {
  cursor: pointer;
  line-height: 1;
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .keyword, .doc-title {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doc-title {
    text-align: right;
    font-size: 12px;
    color: #aaa;
  }
}
.autocomplete-selected {
  background-color: #e6f7ff;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: @screen-xs) {
  .autocomplete-suggestions {
    left: 16px !important;
    width: 100%;
  }
}
