{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://gw.alipayobjects.com/os/antv/assets/lib/tocbot-3.0.2/tocbot.css"/>
<link rel="stylesheet" href="{{ dist }}/demos.css"/>
{% endblock %}
{% block content %}
<div class="demos container-fluid {% if currentProduct == 'f2' %}f2{% endif %}">
    <div class="row flex-xl-nowrap">
        <div class="col-xl-1"></div>
        <div class="col-12 col-md-12 col-xl-10">
            <div class="container content">
                {% for cat in demos %}
                <h5>{{ cat.title }}</h5>
                <div class="row">
                    {% for demo in cat.demos %}
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="card">
                            <a class="screenshot-container" href="{{ demo.href }}"{% if demo.openInNewTab %} target="_blank"{% endif %}>
                                <!--data-original="{{ demo.screenshot }}"-->
                                <img src="{{ assets }}/image/screenshot-placeholder.png"
                                     class="card-img-top screenshot lazyload"
                                     data-default="{{ demo.screenshot }}"
                                     data-dark="{{ demo.screenshotDark }}"
                                     alt="{{ demo.title }}">
                            </a>
                            <div class="card-body">
                                <a href="{{ demo.href }}"{% if demo.openInNewTab %} target="_blank"{% endif %}> {{ demo.title }} </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="toc-container">
            <div class="toc"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery.headroom-0.9.4.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/tocbot-3.0.2/tocbot.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/routie-0.3.2.min.js"></script>
<script src="{{ dist }}/demos.js"></script>
{% endblock %}
